{
  "openapi": "3.1.0",
  "info": {
    "title": "LinkMax Public API",
    "version": "2026.08",
    "summary": "Public and agent-facing surface of the LinkMax micro-business platform.",
    "description": "LinkMax exposes public page data, an external API gateway for curated free public APIs, and an MCP server for AI agents (OAuth 2.1). All user-scoped data is protected by row-level security.",
    "termsOfService": "https://lnkmx.my/terms",
    "contact": { "name": "LinkMax", "url": "https://lnkmx.my" },
    "license": { "name": "Proprietary", "identifier": "LicenseRef-LinkMax" }
  },
  "servers": [
    { "url": "https://lnkmx.my", "description": "Production web" },
    { "url": "https://pphdcfxucfndmwulpfwv.functions.supabase.co", "description": "Edge functions" }
  ],
  "tags": [
    { "name": "discovery", "description": "Machine-readable discovery documents" },
    { "name": "gateway", "description": "Server-side proxy for curated third-party public APIs" },
    { "name": "agents", "description": "Model Context Protocol endpoints for AI agents" }
  ],
  "paths": {
    "/.well-known/api-catalog": {
      "get": {
        "tags": ["discovery"],
        "operationId": "getApiCatalog",
        "summary": "API catalog linkset (RFC 9727)",
        "responses": {
          "200": {
            "description": "Linkset document",
            "content": { "application/json": { "schema": { "type": "object" } } }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "tags": ["discovery"],
        "operationId": "getLlmsTxt",
        "summary": "LLM-oriented site summary",
        "responses": {
          "200": { "description": "Plain text summary", "content": { "text/plain": {} } }
        }
      }
    },
    "/external-api": {
      "post": {
        "tags": ["gateway"],
        "operationId": "callExternalApi",
        "summary": "Call a curated third-party public API through the LinkMax gateway",
        "description": "Provider hosts are hardcoded (no SSRF). Responses are cached server-side. Actions stock_photos, link_preview and screenshot require a user access token.",
        "security": [{ "bearerAuth": [] }, {}],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["action"],
                "properties": {
                  "action": {
                    "type": "string",
                    "enum": ["stock_photos", "link_preview", "screenshot", "holidays", "countries", "geo_ip"]
                  },
                  "query": { "type": "string", "description": "stock_photos search query" },
                  "page": { "type": "integer", "minimum": 1, "maximum": 10 },
                  "url": { "type": "string", "format": "uri" },
                  "width": { "type": "integer", "minimum": 200, "maximum": 1600 },
                  "country": { "type": "string", "pattern": "^[A-Za-z]{2}$" },
                  "year": { "type": "integer", "minimum": 2000, "maximum": 2100 },
                  "ip": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Provider payload", "content": { "application/json": { "schema": { "type": "object" } } } },
          "400": { "$ref": "#/components/responses/Error" },
          "401": { "$ref": "#/components/responses/Error" },
          "502": { "$ref": "#/components/responses/Error" }
        }
      }
    },
    "/mcp": {
      "post": {
        "tags": ["agents"],
        "operationId": "mcpJsonRpc",
        "summary": "MCP (Streamable HTTP) endpoint",
        "description": "JSON-RPC 2.0 MCP endpoint. Requires OAuth 2.1 access token. Tools: list_my_pages, get_page_structure, create_page, list_my_leads, get_analytics_summary.",
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["jsonrpc", "method"],
                "properties": {
                  "jsonrpc": { "type": "string", "const": "2.0" },
                  "id": { "type": ["string", "integer", "null"] },
                  "method": { "type": "string" },
                  "params": { "type": "object" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "JSON-RPC result", "content": { "application/json": { "schema": { "type": "object" } } } },
          "401": { "$ref": "#/components/responses/Error" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": { "type": "http", "scheme": "bearer", "bearerFormat": "JWT" }
    },
    "responses": {
      "Error": {
        "description": "Error envelope",
        "content": {
          "application/json": {
            "schema": {
              "type": "object",
              "properties": {
                "error": { "type": "string" },
                "details": { "type": "string" },
                "status": { "type": "integer" }
              }
            }
          }
        }
      }
    }
  }
}
